/* basic layout and styles */

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

.combatants-container {
    text-align: center;
}

.combatant {
    display: inline-block;
    text-align: center;
    max-width: 40%;
}

.combatant h2 {
    width: 100%;
    flex-basis: 100%;
}

.combatant img {
    max-width: 100%;
}

.status {
    width: 100%;
    flex-basis: 100%;
    align-self: end;
}

.victory-message, .defeat-message {
    display: none;
}

@media screen and (min-width: 1024px) {
    .combatants-container {
        display: flex;
    }

    .combatant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .combatant img {
        max-width: 200px;
        align-self: end;
    }
}

/* buttons */

.move-button {
    background: linear-gradient(to bottom, #005afa, #0007a4);
    color: #fff;
    border-radius: 7px;
    border: 1px #0017c3 solid;
    font-family: 'Segoe UI', Helvetica, sans-serif;
    padding: 5px;
    margin: 3px;
    line-height: 1.4;
    display: inline-block;
}

.move-button:hover, .move-button:focus {
    box-shadow: 0 0 10px 3px #005afa;
}

.move-button:active {
    background: #0017c3;
}

.move-button h2 {
    margin: 2px;
    margin-bottom: 5px;
    font-size: 1.25em;
}